<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="hibernate.connection.url">jdbc:derby:projectdb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
        <property name="show_sql">true</property>
        <mapping class="org.training.hibtest.User"/>
        <mapping class="org.training.hibtest.Status"/>
        <mapping class="org.training.hibtest.Resolution"/>
        <mapping class="org.training.hibtest.Priority"/>
        <mapping class="org.training.hibtest.Type"/>
        <mapping class="org.training.hibtest.Project"/>
        <mapping class="org.training.hibtest.Build"/>
    </session-factory>
</hibernate-configuration>
